DATABASE_URL="postgresql://postgres:root@localhost:5432/stocks"

JWT_ACCESS_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret

JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

PYTHON_BACKEND_BASE_URL=http://127.0.0.1:5000/api
EMITEN_API_PAGE_SIZE=20
